<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
</head>
<body>
    <div id="login">
        <div id="bolita"></div>
        <img src="{{ url_for('static', filename='img/logo.png') }}">
        <form action="{{ url_for('login') }}" method="post">
            <p>Email</p>
            <input type="email" name="email" placeholder="Ingresar tu email" required>
            <p>Contraseña</p>
            <input type="password" name="password" placeholder="Ingresar tu contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
        <a href="{{ url_for('registro') }}">¿No tienes cuenta? Regístrate</a>
    </div>

    {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% if mensajes %}
            {% for categoria, mensaje in mensajes %}
                <div class="{{ categoria }}">{{ mensaje }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>

