<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <title>Página Principal</title>
</head>
<body>
    <header>
        <h1>Página principal</h1>
    </header>


    <section>
        <h2>Esta es la página a la que se ingresa</h2>
        <p>Aquí es donde se entra si se inicia sesión correctamente</p>
    </section>

    <!-- Contenedor para mostrar el contador -->
    <div id="display_contador">00:00:00</div>

    <!-- Selector para la duración del contador -->
    <select id="duracion">
        <option value="5">5 minutos</option>
        <option value="10">10 minutos</option>
        <option value="15">15 minutos</option>

    </select>

    <!-- Botón para iniciar el contador -->
    <button id="iniciar_contador">Iniciar Contador</button>
        


    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>


</body>
</html>
