<!DOCTYPE html>
<html>
<head>
    <title>Menú</title>
    <link rel="stylesheet" href="../static/css/menu.css" type="text/css">
</head>
<body>
    <div id="dashboard">
        <div id="mapa">
            <img src="../static/img/Mapa.png">
            <div id="localidades">
                <!--El siguiente div es la muestra para cargar todas las localidades del Scoopark-->
                <div id="localidad">
                    <p>ScooPark</p>
                    <p>Estación de estacionamiento de scooters y bicicletas</p>
                    <img src="../static/img/scooter.svg">
                    <p id="numero">1/2</p>
                    <p id="localizacion">Estación de estacionamiento de scooters y bicicletas SP-001 República de Salvador - Pino Suárez </p>
                    <button></button>
                </div>
            </div>
        </div>
        <div id="lateral">
            <div id="alertas">
                <p>Alerta de Tiempo Limite</p>
            </div>
            <div id="alertas">
                <p>Alerta de Forsejeo</p>
            </div>
            <div id="alertas">
                <p>Alerta de Carga Completa</p>
            </div>
            <div id="alertas">
                <p>Reporte por Fallas</p>
            </div>
            <div id="scooter">
                <div id="uno">
                    <p>¿Tienes Scooter?</p>
                </div>
                <div id="dos">
                    <img src="../static/img/Scooter_preg.png">
                </div>
            </div>
            <div id="costoscooter">
            </div>
        </div>
        <div id="lateral">
            <div id="qr">
            </div>
            <div id="rfid">
                <img src="../static/img/RFDI.png">
            </div>
            <div id="bici">
                <div id="uno">
                    <p>¿Tienes Bicicleta?</p>
                </div>
                <div id="tres">
                    <img src="../static/img/Bici_preg.png">
                </div>
            </div>
            <div id="costobici">
            </div>
        </div>
        <div id="reloj">
            <div id="relojini">
                <div id="ra">
                    <p>CDMX, Mexico</p>
                </div>
                <div id="rb">
                    <p>22:45</p>
                </div>
                <div id="ra">
                    <p>Lunes, Enero 29, 2024</p>
                </div>
                <div id="rc">
                    <button>Inicio</button>
                </div>
            </div>
            <div id="contador">
                <p id="ca">00</p>
                <p id="cb">hrs</p>
                <p id="cc">:</p>
                <p id="cd">00</p>
                <p id="ce">min</p>
                <p id="cf">:</p>
                <p id="cg">00</p>
                <p id="ch">seg</p>
            </div>
            <div id="carga">
                <div id="cargauno">
                    <p>NIVEL DE</p>
                </div>
                <div id="cargauno">
                    <p>CARGA</p>
                </div>
                <div id="cargados">
                    <img src="../static/img/Cargando.png">
                </div>
            </div>
            <div id="puerto">
                <div id="puertoa">
                    <p>ScooPark</p>
                </div>
            </div>
        </div>
    </div>
    <div id="banner">
    </div>
</body>
</html>