<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login de Usuario</h2>
    {% for mensaje in get_flashed_messages() %}
    <div>{{ mensaje }}</div>
    {% endfor %}
    <form action="/login" method="post">
        <label for="nombre_usuario">Nombre de Usuario:</label>
        <input type="text" id="nombre_usuario" name="nombre_usuario" required>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required>
        <br>
        <input type="submit" value="Iniciar Sesión">
        <p>¿No tienes una cuenta? <a href="/registro">Regístrate aquí</a>.</p>
    </form>
</body>
</html>
